body {
  background-color: #fff;
  margin: 10px 10px 10px 10px;
  padding: 6px 6px 6px 6px;
    }
    
h1 {
  font-family: 'Tangerine', fantasy;
  font-size: 48px;
  text-align: center;
  text-shadow: 4px 4px 4px #aaa;
  }
  
h2 {
  font-size: 14px;
  }

p {
  font-size: 12px;
  font-family: sans-serif;
  text-align: justify;
}

h6 {
  background-color: #eaeaea;
  font-size: cursive;
  font-style: italic;
  font-size: 14px;
  text-align: center;
  color: grey;
  }

.list {
  font-size: 12px;
  font-family: sans-serif;
  }

.image {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px 40px 10px white;
  }
  
 a:visited {
    color: orange;
    }
