body {
  background-color: #eaeaea;
  font-family: sans-serif;
  font-size: 12px
  text-align: justify;
  border: 3px double black;
    }
    
h1 {
  font-family: fantasy;
  font-size: 24px;
  }
  
h2 {
  font-size: 14px;
  }

h6 {
  font-size: cursive;
  font-style: italic;
  font-size: 12px;
  color: grey;
  }

.image {
  width: 300px;
  border: 6px groove black;
  }
  
 a:visited {
    color: orange;
    }
